@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

:root {
    --background-color: #ffffff;
    --dropdown-color: #f5f5f5;
    --text-color: #000000;
    --navbar-color: #f2f2f2;
    --link-color: #0099CC;
    --button-color: #33b5e5;
  }
  
  [theme="light"] {
    --background-color: #ffffff;
    --dropdown-color: #f5f5f5;
    --text-color: #000000;
    --navbar-color: #f2f2f2;
    --link-color: #0099CC;
    --button-color: #33b5e5;
  }
  
  [theme="dark"] {
    --background-color: #212121;
    --dropdown-color: #2e2e2e;
    --text-color: #ffffff;
    --navbar-color: #242424;
    --link-color: #33b5e5;
    --button-color: #0099CC;

    a.dropdown-item:hover {
        background-color: #000000;
    }

    ::-webkit-scrollbar-thumb {
      box-shadow: 0;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0 !important;
    }
  }

#app {
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: Roboto , sans-serif !important;
  text-align: center;
}

.center {
  min-height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.dropdown-menu,.staff-item {
  background-color: var(--dropdown-color) !important;
}
nav,footer {
  background-color: var(--navbar-color);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--text-color);
}

hr {
  background-color: var(--text-color);
}

span {
  color: var(--text-color);
}

p {
  font-family: Roboto , sans-serif !important;
  color: var(--text-color);
}
a {
   color: var(--text-color) !important;
}

.link {
  color: var(--link-color) !important;
}

.btn {
  background-color: var(--button-color) !important;
}

::-webkit-scrollbar-track {
  box-shadow: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--dropdown-color);
  border-radius: 10px;
  border-radius: 0 !important;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 !important;
}

::-webkit-scrollbar-thumb {
  box-shadow: 0;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 !important;
}